@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-desktop: url('/images/background-desktop.png') no-repeat center center / cover;
  --background-tablet: url('/images/background-tablet.png') no-repeat center center / cover;
  --background-mobile: url('/images/background-mobile.png') no-repeat center center / cover;
  --foreground: #171717;
  --neutral: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-desktop: url('/images/background-desktop.png') no-repeat center center / cover;
    --background-tablet: url('/images/background-tablet.png') no-repeat center center / cover;
    --background-mobile: url('/images/background-mobile.png') no-repeat center center / cover;
    --foreground: #ededed;
    --neutral: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);
    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  /* background: var(--background-desktop); */
  background: gray;
  font-family: "Inconsolata", serif;
}

.text-grandient {
  background-image: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
